<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="account" th:fragment="account(user)">
    <div>
        <img class="avatar" th:src="${user.avatar.full ? user.avatar.url : '/images/'+user.avatar.url}" src="https://himg.bdimg.com/sys/portrait/item/public.1.6e10e648.r6u1vaeVGx3AruDs-9zPWg.jpg"
             alt="头像">
    </div>
    <div class="pl-2">
        <div th:text="${user.nickName}">溜溜没</div>
        <div th:text="${user.userId}">2981926023@qq.com</div>
    </div>
</div>
</body>
</html>