<!DOCTYPE html>
<html lang="en" layout:decorate="~{base}"

      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="components/nav :: nav(user=${user.user})"></div>
    <div class="row m-0 mt-2">
        <div class="col-2 shadow-sm border m-0 p-1" style="height: 80vh">
            <div th:replace="components/menu :: menu('student')"></div>
        </div>
        <div class="col-10 h-100 m-0 pt-2">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <div class="card-title">
                        <h4>添加用户</h4>
                    </div>
                </div>
            </div>
            <form action="/user/add">
                <div class="form-group">
                    <label for="loginName">
                        登录名称
                    </label>
                    <input type="text" class="form-control" name="loginName" id="loginName">
                </div>
                <div class="form-group">
                    <label for="password">
                        登录密码
                    </label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="form-group">
                    <label for="avatar">
                        学生照片
                    </label>
                    <input type="file" class="form-control-file" name="password" id="avatar">
                </div>
                <div class="form-group">
                    <label for="userType">用户类型</label>
                    <select id="userType" name="userType" class="form-control disabled">
                        <option selected value="0">管理员</option>
                        <option value="1">普通用户 | 学生</option>
                        <option value="2">设备</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>