<!DOCTYPE html>
<html lang="en" layout:decorate="~{base('hello')}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="|${title}管理|">用户</title>

</head>
<body>

<div layout:fragment="content">
    <div th:replace="components/nav :: nav(${user.user})"></div>
    <div class="row m-0 mt-2">
        <div class="col-2 shadow-sm m-0 p-0" style="height: 80vh">
            <div th:replace="components/menu :: menu('user')"></div>
        </div>
        <div class="col-10 h-100 m-0 pt-2">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <div class="card-title">
                        <h4 th:text="|${title}管理|">用户管理</h4>
                    </div>
                    <div class="row p-3 align-content-start">
                        <div class="col-12">
                            <button class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">添加</button>
                            <button class="btn btn-danger">删除</button>
                        </div>
                        <div class="col pt-4">
                            <div class="input-group">
                                <input type="text" placeholder="输入昵称查询" class="form-control"
                                       aria-label="Text input with dropdown button">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">搜索</button>
                                    <button class="btn btn-outline-success dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-expanded="false">条件
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table border="1" class="table table-hover border shadow-sm overflow-auto table-sm">
                <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">昵称</th>
                    <th scope="col">用户名</th>
                    <th scope="col">状态</th>
                    <th scope="col">IP</th>
                    <th scope="col">用户类型</th>
                    <th scope="col">头像</th>
                    <th scope="col">身份</th>
                    <th scope="col">创建时间</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="item:${pages.items}" class="text-center">
                    <th scope="row">
                        <input type="checkbox" th:name="${item.userId}" name="row" id="row">
                    </th>
                    <td th:text="${item.userId}">One</td>
                    <td th:text="${item.nickName}">One</td>
                    <td th:text="${item.loginName}">Otto</td>
                    <td>
                        <i class="bi bi-wifi" th:if="${item.online}"></i>
                        <i class="bi bi-wifi-off" th:if="${!item.online}"></i>
                    </td>
                    <td th:text="${item.loginIp}">Otto</td>
                    <td>
                        <span th:if="${item.userType == 0}">管理员</span>
                        <span th:if="${item.userType == 1}">学生</span>
                        <span th:if="${item.userType == 2}">设备</span>
                    </td>
                    <td>
                        <img class="avatar" th:src="${item.avatar.full ? item.avatar.url : '/images/'+item.avatar.url}" alt="头像">
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary ml-1" th:each="role:${item.roles}"
                                th:if="${role.name}" th:text="${role.name}">
                        </button>
                    </td>
                    <td th:text="${#dates.format(item.createTime, 'yyyy-MM-dd')}">@mdo</td>
                    <td>
                        <button class="btn btn-warning btn-sm"
                                th:onclick="showSetUserRoleModal(this,[[${item.userId}]])">设置角色
                        </button>
                        <button class="btn btn-danger btn-sm" th:onclick="del([[${item.userId}]])">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:class="|page-item  ${pages.currentPage < 2 ? 'disabled' : ''}|">
                        <a class="page-link" th:href="${'/user/index?page='+(pages.currentPage-1)}">上一页</a>
                    </li>
                    <li th:class="|page-item ${pages.currentPage == i ? 'active' : ''}|"
                        th:each="i:${#numbers.sequence(1, pages.total / pages.limit + 1)}">
                        <a class="page-link" th:href="${'/user/index?page='+i}" th:text="${i}">1</a>
                    </li>
                    <li th:class="|page-item  ${pages.currentPage >= (pages.total / pages.limit + 1) ? 'disabled' : ''}|">
                        <a class="page-link" th:href="${'/user/index?page='+(pages.currentPage+1)}">下一页</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="|添加${title}|">添加用户</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/user/add" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="checkRole">用户账号</label>
                                <input name="loginName" type="text" class="form-control" id="checkRole">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">密码</label>
                                <input type="password" name="password" class="form-control" id="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nickName">昵称</label>
                            <input type="text" name="nickName" class="form-control" id="nickName" placeholder="无名氏">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="avatar">
                                    头像
                                    <img src="/" class="avatar" id="avatar_preview" alt="">
                                </label>
                                <input type="file" name="ava" class="form-control-file" id="avatar" placeholder="选择文件">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="userType">用户类型</label>
                                <select id="userType" name="userType" class="form-control">
                                    <option selected value="0">管理员</option>
                                    <option value="1">普通用户 | 学生</option>
                                    <option value="2">设备</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="comment">备注</label>
                                <textarea name="comment" placeholder="输入备注" type="text" class="form-control"
                                          id="comment"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">保存更改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade " id="grantRole" tabindex="-1" aria-labelledby="grantRoleLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="grantRoleLabel">设置角色</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/user/add" enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-body">
                                <button type="button" id="checkout" class="btn btn-outline-info ml-2"
                                        th:title="|共包含${role.permissions.size()}个权限|"
                                        th:text="${role.name}"
                                        th:each="role:${roles.items}"
                                        th:name="${role.roleId}" onclick="check(this)"></button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" onclick="setUserRole(this)" class="btn btn-primary">保存更改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const avatar_preview = $("#avatar_preview");
        avatar_preview.hide();
        $("input#avatar").change((e) => {
            const file = e.target.files[0];
            avatar_preview.attr("src", URL.createObjectURL(file));
            avatar_preview.show()
        })

        function del(id) {
            if (confirm("确定删除吗？")) {
                $.ajax(`/user/${id}`, {
                    method: "DELETE"
                }).then(data => {
                    if (data.code === 0) {
                        alert(data.msg)
                    } else {
                        window.location.reload();
                    }
                }).catch(err => {
                    alert(err.message)
                })
            }
        }

        function check(e) {
            if (e.classList.contains("btn-primary")) {
                e.classList.add("btn-outline-info")
                e.classList.remove("btn-primary")
            } else {
                e.classList.remove("btn-outline-info")
                e.classList.add("btn-primary")
            }
        }

        let currentUserId = "";

        function setUserRole(event) {
            const roles = [];
            const checkd = $("#checkout.btn-primary");
            for (let i = 0; i < checkd.length; i++) {
                roles.push(checkd[i].name)
            }
            $.ajax(`/user/grant/${currentUserId}`, {
                data: JSON.stringify(roles),
                dataType: "json",
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(data => {
                window.location.reload();
            }).catch(err => {
                console.log(err)
                $('#grantRole').modal("hide")
            })
        }

        function showSetUserRoleModal(event, userId) {
            currentUserId = userId;
            $('#grantRole').modal()
        }
    </script>
</div>
</body>
</html>