<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultrap.net.nz/web/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">
        智能安防系统
    </title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap.css}">
    <script th:src="@{/lib/jquery.min.js}"></script>
    <script th:src="@{/lib/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" href="/lib/bootstrap-icons.css">
    <script th:src="@{/js/index.js}"></script>
    <style>
        .avatar {
            border-radius: 50%;
            width: 45px;
            height: 45px;
        }
        .account {
            display: flex;
        }
    </style>
</head>
<body >
<div style="height: 80vh">
    <div layout:fragment="content"></div>
</div>
</body>
</html>