<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrhui.automatic.mapper.TNotificationMapper">

    <resultMap id="BaseResultMap" type="com.mrhui.automatic.entity.TNotification">
            <id property="proId" column="pro_id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="body" column="body" jdbcType="VARCHAR"/>
            <result property="preview" column="preview" jdbcType="VARCHAR"/>
            <result property="notifyType" column="notify_type" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateAt" column="update_at" jdbcType="TIMESTAMP"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        pro_id,title,body,
        preview,notify_type,create_time,
        update_at,comment,is_delete
    </sql>
</mapper>
